body{
 font-family: century gothic, century gothic, sans-serif;
}
.card{
	border: none;
}

.card-body{
  background-color: rgb(0, 0, 71);
  border-colore: rgb(255, 255, 255);
  border-radius: 0px;
}

.card-text{
  color: aliceblue;
}

.btn{
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255,);
	border: none;
}

.btn-primary{
 color: rgb(0, 0, 71);
	border: none;
}
.card-title{
  color: aliceblue;
  font-style: bold;
}

#freccia{
  left: 200px;
  right: 20px;
  bottom: 200px;
}
#popup{
  background-color: rgb(205, 238, 253);
  height: 150px;
  width: 200px;
  bottom: -120px;
  right: 25px;
  position: fixed;
  text-align: center;
  border-radius: 10px 10px 0 0;
  display: block;
  padding: auto;
  border: 3.5px solid rgb(0, 2, 111);
  z-index: 1;
  transition: trasform 700ms;
  
}

#cookiecursor{
  cursor: pointer;
}

#accetta{
  background-color: rgb(205, 238, 253);
  width: 70px;
  height: 25px;
  color: rgb(0, 2, 111);
  border: 3px rgb(0, 2, 111);
  border-radius: 10px;
  margin: 5px;
  padding: auto;
  position: fixed;
  bottom:-55px;
  right: 145px;
  z-index: 2;
  transition: trasform 700ms;
  text-align: center;
}

#rifiuta{
  background-color: rgb(205, 238, 253);
  color: rgb(0, 2, 111);
  width: 70px;
  height: 25px;
  border: 3px rgb(0, 2, 111);
  border-radius: 10px;
  margin: 5px;
  padding: auto;
  position: fixed;
  bottom:-55px;
  right: 25px;
  z-index: 2;
  transition: trasform 700ms;
  text-align: center;
}


	transform: translate3d(200px,0,0);
	opacity: 0;
}
