body{
 font-family: century gothic, century gothic, sans-serif;
}

a{
	color: none;
}
.card{
	border: none;
}

.titolocarrello{
	font-family: century gothic, century gothic, sans-serif;
}

#totale{
	font-family: century gothic, century gothic, sans-serif;
	font-style: bold;
	font-color: red;
}

#bottonerimuovi{
	background-color:rgb(0, 2, 111);
	color: white;
}

.card-body{
  background-color: rgb(0, 0, 71);
  border-colore: rgb(255, 255, 255);
  border-radius: 0px;
}

.card-text{
  color: aliceblue;
}

.btn{
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255,);
	border: none;
}

.btn-primary{
 color: rgb(0, 0, 71);
	border: none;
}
.card-title{
  color: aliceblue;
  font-style: bold;
}

#freccia{
  left: 200px;
  right: 20px;
  bottom: 200px;
}
#popup{
  background-color: rgb(205, 238, 253);
  height: 150px;
  width: 200px;
  bottom: -120px;
  right: 25px;
  position: fixed;
  text-align: center;
  border-radius: 10px 10px 0 0;
  display: block;
  padding: auto;
  border: 3.5px solid rgb(0, 2, 111);
  z-index: 1;
  transition: trasform 700ms;
  
}

#cookiecursor{
  cursor: pointer;
}

#accetta{
  background-color: rgb(205, 238, 253);
  width: 70px;
  height: 25px;
  color: rgb(0, 2, 111);
  border: 3px rgb(0, 2, 111);
  border-radius: 10px;
  margin: 5px;
  padding: auto;
  position: fixed;
  bottom:-55px;
  right: 145px;
  z-index: 2;
  transition: trasform 700ms;
  text-align: center;
}

#rifiuta{
  background-color: rgb(205, 238, 253);
  color: rgb(0, 2, 111);
  width: 70px;
  height: 25px;
  border: 3px rgb(0, 2, 111);
  border-radius: 10px;
  margin: 5px;
  padding: auto;
  position: fixed;
  bottom:-55px;
  right: 25px;
  z-index: 2;
  transition: trasform 700ms;
  text-align: center;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#ffffff;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: rgb(100, 100, 100);
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}



fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background: #ffffff;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:HEX(#495057);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:HEX(#212529);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
#contact-submit{
	background-color: #212529;
}
.top {
  color: white;
  background-color: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
}


#backtotop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border-style: none;
	outline: none;
	cursor: pointer;
	padding: 8px;
	border-radius: 10px;
	font-size: 30px;
  }
  
   #backtotop:hover {
	background-color: #555;
  }

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
	color: rgba (191, 191, 191, 0.5);
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    color: rgba (191, 191, 191, 0.5);
}

